################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cs300_spookyskeletons.vcxproj.filters
/cs300_spookyskeletons.vcxproj
/cs300_spookyskeletons.VC.VC.opendb
/cs300_spookyskeletons.VC.db
/cs300_spookyskeletons.sln
/.vs/cs300_spookyskeletons/v14/.suo
